---
- include_role:
    name: variables

- name: Remove Traefik Container
  docker_container:
    name: traefiktoolbox
    state: absent

- name: Creates directory
  file:
    path: "{{path.stdout}}/tools/traefik/acme"
    state: directory
    owner: 1000
    group: 1000
    mode: 0775
    recurse: yes

- name: Installing Traefik.Toml
  template:
    src: traefik.toml
    dest: "{{path.stdout}}/tools/traefik/traefik.toml"
    force: yes
    owner: 1000
    group: 1000

- name: Installing ACME
  template:
    src: acme.json
    dest: "{{path.stdout}}/tools/traefik/acme/acme.json"
    force: yes
    mode: 0600
    owner: 1000
    group: 1000
  

- name: E-Mail to Traefik.toml
  replace:
    path: "{{path.stdout}}/tools/traefik/traefik.toml"
    regexp: enteryourmail@here.com
    replace: "{{cfmail.stdout}}"

- name: Domain to Traefik.toml
  replace:
    path: "{{path.stdout}}/tools/traefik/traefik.toml"
    regexp: enteryourdomain.here
    replace: "{{domain.stdout}}"

- name: Deploy Traefik
  docker_container:
    name: traefiktoolbox
    image: traefik:1.6.1
    pull: yes
    cpu_shares: 256
    published_ports:
      - "443:443"
      - "80:80"
    env:
      PUID: 1000
      PGID: 1000
      PROVIDER: "cloudflare"
      CLOUDFLARE_EMAIL: "{{cfmail.stdout}}"
      CLOUDFLARE_API_KEY: "{{cfapi.stdout}}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/localtime:/etc/localtime:ro
      - "{{path.stdout}}/traefik:/etc/traefik:ro"
      - "{{path.stdout}}/traefik/acme:/etc/traefik/acme"
    restart_policy: always
    state: started
    networks:
      - name: toolbox
        aliases:
          - traefik
