#sftp
---
- include_role:
    name: variables

- name: Remove sftp Container
  docker_container:
    name: sftp
    state: absent

- name: Creates directory
  file:
    path: "{{path.stdout}}/tools/sftp"
    state: directory
    owner: 1000
    group: 1000
    mode: 0775
    recurse: yes

- name: Installing Users
  template:
    src: users.conf
    dest: "{{path.stdout}}/tools/sftp/users.conf"
    force: yes
    mode: 0600
    owner: 1000
    group: 1000

- name: Deploy sftp Container
  docker_container:
    name: sftp
    image: atmoz/sftp
    pull: yes
    cpu_shares: 512
    ports:
      - 0.0.0.0:2222:22
    privileged: yes
    volumes:
     - "{{path.stdout}}/tools/sftp/:/etc/sftp/"
     - "{{path.stdout}}/tools/rclone/unionfs/:/sftp_root/UnionF"
    networks:
      - name: toolbox
        aliases:
          - sftp
    restart_policy: always
    state: started
    