---
- include_role:
    name: variables
    
- name: Remove Ubooquity Container
  docker_container:
    name: ubooquity
    state: absent

- name: Creates directory
  file:
    path: "{{path.stdout}}/tools/ubooquity"
    state: directory
    owner: 1000
    group: 1000
    mode: 0775
    recurse: yes
    
- name: Deploy Ubooquity Container
  docker_container:
    name: ubooquity
    image: linuxserver/ubooquity:latest
    pull: yes
    cpu_shares: 512
    published_ports:
    - "2202:2202"
    - "2203:2203"
    env:
      APP: ubooquity
      VERSION: stable
      PUID: "1000"
      PGID: "1000"
    networks:
      - name: toolbox
        aliases:
          - ubooquity
    volumes:
    - "{{path.stdout}}/tools/ubooquity:/config"
    - "{path.stdout}}/rclone/unionfs/documents/books:/books"
    - "{path.stdout}}/rclone/unionfs/documents/comics:/comics"
    - "{path.stdout}}/rclone/unionfs/documents/files:/files"
    - /etc/localtime:/etc/localtime:ro
    restart_policy: always
    state: started
    labels:
      traefik.enable: "true"
      # traefik.frontend.auth.basic: "{{username.stdout}}:{{password.stdout}}"
      traefik.frontend.redirect.entryPoint: "https"
      traefik.frontend.rule: "Host:ubooquity.{{domain.stdout}}, reader.{{domain.stdout}}, documents.{{domain.stdout}}"
      traefik.port: "2202"
      traefik.docker.network: "toolbox"
